.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.stage {
    width: 95vmin;
    height: 95vmin;
    background-color: #eee;

    display: grid;
    // grid-template-columns: repeat(10, 1fr);
    // grid-template-rows: repeat(10, 1fr);
}